{% extends 'base.html' %}


{% block title %}Home Page{% endblock title %}

{% block content %}
<h1>How to use our issue manager</h1>
<h3><b>Step 1: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt. Vero nobis dolorum earum officiis corrupti rem accusamus distinctio! Beatae.</h3>
<h3><b>Step 2: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt. Vero nobis dolorum earum officiis corrupti rem accusamus distinctio! Beatae.</h3>
<h3><b>Step 3: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt. Vero nobis dolorum earum officiis corrupti rem accusamus distinctio! Beatae.</h3>
<h3><b>Step 4: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt. Vero nobis dolorum earum officiis corrupti rem accusamus distinctio! Beatae.</h3>
{% endblock content %}